@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


#auth_title{
    font-family:'Roboto Mono';
    color: rgb(53, 44, 64);
    display: block;
    font-size: 72px;
    width: 60%;
    border: rgb(222, 38, 90) solid 6px;
    border-radius: 10px;
    margin:0 auto;
    letter-spacing: 4px;
    margin-top: 20px;
}

.main_auth{
    display: block;
    width: 30%;
    margin: 250px auto;
    text-align: center;
    border: 5px solid rgb(238, 161, 43);
    border-radius: 30px;
    outline: solid 4px rgb(53, 44, 64);

}

.submit_button_auth{
    font-family:'Roboto Mono';
    width: 170px;
    height: 33px;
    margin: 15px 0px 20px 0px;
    color: rgba(34, 139, 34);
    text-align: center;
    transition-duration: .2s;
    border-radius: 6px;
    border: rgba(34, 139, 34) solid 3px;
    font-weight: 500;
}

.submit_button_auth:hover{
    background-color:rgba(34, 139, 34);
    color: rgb(243, 237, 241);
    
}
.text_field_input:focus {
    font-family: 'Roboto Mono';
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.4rem rgb(98, 135, 224);
}

.text_field_input{
    font-family: 'Roboto Mono';
    display: block;
    width: 55%;
    margin: 30px auto 0px auto;
    height: 25px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    background-color:white;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
    background-color:rgb(243, 237, 241);
}
