.createSection {
    margin: auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    background-color: #eff;
}

.checkboxParams {
    margin-left: 8%;
}

html {
    background-color: #DCDCDC;
}

input {
    width: 70%;
}

