@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


#auth_title{
    font-family:'Roboto Mono';
    color: #AFEEEE;
    text-shadow: 5px 3px 4px blue;
    display: block;
    font-size: 72px;
}

.create_voting{
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    border: 4px solid white;
    border-radius: 10%;
}

#submit{
    width: 70px;
    height: 40px;
    margin: 15px 0px 20px 0px;
    color: rgba(34, 139, 34);
    text-align: center;
    transition-duration: .2s;
    border-radius: 10%;
    border-color: rgba(34, 139, 34);
}

#submit:hover{
    color: chartreuse;
    border-color: rgba(34, 139, 34); 
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(34, 139, 34, 0.25);
    border-radius: 10%;
    border-width: 1px;
}

#add_button{
    width: 90px;
    height: 40px;
    margin: 15px 0px 20px 0px;
    color: rgba(184, 134, 11);
    text-align: center;
    transition-duration: .2s;
    border-radius: 10%;
    border-color: rgba(184, 134, 11);
}

#add_button:hover{
    color:darkorange;
    border-color: rgba(184, 134, 11); 
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(184, 134, 11, 0.25);
    border-radius: 10%;
    border-width: 1px;
}

#back_button{
    position: absolute;
    right: 20px;
    top: 10px;
    width: 80px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    color: black;
    text-align: center;
    transition-duration: .2s;
    border-radius: 10%;
    border-color: black;
}

#back_button:hover{
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(105, 105, 105, 0.25);
    border-radius: 10%;
    border-width: 1px;
}

.text_field {
    margin-bottom: 1rem;
}

.text_field_label {
    display: block;
    margin-bottom: 0.25rem;
    color: aliceblue;
    font-size: 20px;
}

.text_field_input::placeholder {
    color: #212529;
    opacity: 0.6;
}

.text_field_input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.4rem rgba(255, 165, 0, 0.25);
}

.text_field_input {
    display: block;
    width: 50%;
    margin: auto;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

body {
    background-color: #1E90FF;
    color:#f3dec0;
}

.createSection {
    margin: auto;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

input {
    width: 80%;
}

