<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mainStyle.css' %}">
    <title>Title</title>
</head>
<body>
<header>
    {% if request.user.is_authenticated %}
    <div class="userInfo">
        <a href="/profile">{{full_name}}</a>|<a href="/logout">Выйти</a>
    </div>
    <div class="newVoice">
            <a href="create/">Создать новое голосование</a>
    </div>
    {% else %}
    <div class="userInfo">
        <a href="/login">Войти</a>|<a href="/register">Зарегестрироваться</a>
    </div>
    {% endif %}
</header>
<hr>
<main>
    <section class="mainSection">
            {% for voice in voices %}
            <section class="voiceBox">
                <a href="/voice/{{voice.id}}" id="{{voice.id}}">
                    {{voice.question}}
                </a>
            </section>
            {% endfor %}
    </section>
</main>
<footer>

</footer>
</body>
</html>