<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div align="center">
    <h1>Let`s register!</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="">Логин: </label></td>
                <td>{{form.username}}</td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><label for="">Пароль: </label></td>
                <td>{{form.password1}}</td>
            </tr>
            <tr>
                <td><label for="">Повторите пароль: </label></td>
                <td>{{form.password2}}</td>
            </tr>
        </table>

    <br>
    <input type="submit" value="Создать">
        <br>
</form>
    {% if errors %}
        <br>
        {% for item in errors %}
            <p>{{item}}</p>
        {% endfor %}
        {% endif %}
</div>
<a href="/">На главную</a>
</body>
</html>