<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'creatingStyle.css' %}">
    <title>{{voice.question}}</title>
</head>
<body>
    <header>
    {% if request.user.is_authenticated %}
    <div class="userInfo">
        <a href="/profile">{{user}}</a>|<a href="/logout">Выйти</a>
    </div>
    {% else %}
    <div class="userInfo">
        <a href="/login">Войти</a>|<a href="/register">Зарегестрироваться</a>
    </div>
    {% endif %}
        <hr>
</header>
<main>
    <section>
        <form method="POST">
            {% csrf_token %}
            {{ voice.question }}
            <br>
            {{form.response.0}} {{voice.answer1}}
            <br>
            {{form.response.1}} {{voice.answer2}}
            <br>
            {{form.response.2}} {{voice.answer3}}
            <br>
            {{form.response.3}} {{voice.answer4}}
            <br>
            {{form.response.4}} {{voice.answer5}}
            <br>
            <br>
            <input type="submit">
        </form>
        <br>
        <a href="/">На главную</a>
        <table>
            {% for item in history %}
                <tr>
                    <td>{{ item.username }}</td>
                    <td>{{ item.answer1 }}</td>
                    <td>{{ item.answer2 }}</td>
                    <td>{{ item.answer3 }}</td>
                    <td>{{ item.answer4 }}</td>
                    <td>{{ item.answer5 }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</main>
<footer>

</footer>
</body>
</html>