<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'creatingStyle.css' %}">
    <title>{{voice.question}}</title>
</head>
<body>
    <header>
    {% if request.user.is_authenticated %}
    <div class="userInfo">
        <a href="/profile">{{full_name}}</a>|<a href="/logout">Выйти</a>
    </div>
    <div class="newVoice">
            <a href="create/">Создать новое голосование</a>
    </div>
    {% else %}
    <div class="userInfo">
        <a href="/login">Войти</a>|<a href="/register">Зарегестрироваться</a>
    </div>
    {% endif %}
</header>
<main>
    <section>
        <form method="POST">
            {% csrf_token %}
            <img src="{{ voice.voice_picture.url }}" alt="">
            <br>
            {% for resp in form.response %}
                {{resp}}
            {% endfor %}
            <input type="submit">
        </form>
        {{answer}}
        <table>
            {% for item in history %}
                <tr>
                    <td>{{ item.username }}</td>
                    <td>{{ item.answer1 }}</td>
                    <td>{{ item.answer2 }}</td>
                    <td>{{ item.answer3 }}</td>
                    <td>{{ item.answer4 }}</td>
                    <td>{{ item.answer5 }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</main>
<footer>

</footer>
</body>
</html>