<!DOCTYPE html>
{% load static %}
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <title>Authorization</title>
        <link rel="stylesheet" type="text/css" href="{% static 'auth_style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
  <body>
       <div class="bg"></div>
       <div class="bg bg2"></div>
       <div class="bg bg3"></div>

      <div class="main_auth">
          <form method="POST">
              {% csrf_token %}
              <h1 id="auth_title">LOGIN</h1>
              <label class="text_field_label" for="question">Login</label>
              {{form.username}}
              <label class="text_field_label" for="question">Password<img src="../static/images/icons8-высокая-важность-30.png" class="btn"></label>
              
                <div class="wnd">А я всплывающее окно</div>
              {{form.password}}
              
              <br>
              <input type="submit" class="submit_button_auth" value="Sign in">
          </form>
      </div>
  </body>
  <script>
    $('.btn').on('mouseover', function(){
        $('.wnd').show(400)
      })
      
      $('.btn').on('mouseout', function(){
        $('.wnd').hide(400)
      })
  </script>
</html>
